
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<div class="text-center">
<h1> Password Generator</h1>
<form action="{% url 'show_password' %}">
<select name="password_length" id="password_length">
  
  <option value=8>8</option>
  <option value=9>9</option>
  <option value=10>10</option>
  <option value=11>11</option>
</select>
<br><br>
<input type="checkbox" id="uppercase" name="uppercase" /> Upper Case <br>
<input type="checkbox" id="numbers" name="numbers"> Numbers <br>
<input type="checkbox" id="special_characters" name="specialCharacters"> Special Characters <br>
<br>
<input type="submit" class="btn btn-success" value="Generate">
</form>
</div>